:root
{
      --background: #f9f6f7;
      --bodyfont: "Trebuchet MS", Trebuchet, sans-serif;
      --bodyfontcolour: #de1c70;
      --glow1: #326359;
      --glow2: #00ffcc;
      --navbarcolour: #f1d4e0;
      --navbaraccent: #ebafcf;
      --navbarhover: #f1d4e0;
}

body {
      background-color: var(--background);
      /*background-image: linear-gradient(#e31a1a, #5e2dd8);*/
      color: var(--bodyfontcolour);
      font-family: var(--bodyfont);
      padding: 5rem;
      line-height: 1.6;
      text-align: justify;
    }
    
    h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3rem;
      /*animation: glow 2s ease-in-out infinite alternate;*/
      text-align: center;
      line-height: 3;
    }
    


    pre
    {
      background-color: #f0f0f0;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 5px;
      padding: 2rem;
      overflow-x: auto;
      font-size: 1.2rem;
    }
    
    @keyframes glow {
      from { text-shadow: 0 0 5px var(--glow1); }
      to { text-shadow: 0 0 20px var(--glow2); }
    }
    .navbar {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1000;
      overflow: hidden;
      background-color: var(--navbarcolour); /* Fallback color */
      top: 0;
      left: 0;  /* Ensure it starts from very left */
      right: 0; /* Stretch full width */
      margin: 0;
      padding: 0;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a.active {
      background-color: var(--navbaraccent);
      color: white;
    }

    .navbar a:hover {
      background-color: var(--navbarhover);
      color: black;
    }
    
    
    
    .navbar .icon {
      display: none;
    }

    