/*www.realtimecolors.com*/

:root
{
      --background: #e4e4e4;
      --bodyfont: "Consolas", Consolas, monospace;
      --bodyfontcolour: #000000;
      --accent: #137f33;
      --navbarcolour: #1d5f1a;
      --navbaraccent: #1d5f1a;
      --navbarhover: #137f33;

}

* {
  box-sizing: border-box;
}

body {
      background-color: var(--background);
      /*background-image: linear-gradient(#e31a1a, #5e2dd8);*/
      color: var(--bodyfontcolour);
      font-family: var(--bodyfont) !important;
      font-size: 2.5vh;
      padding: 5vw;
      line-height: 5vh;
      text-align: justify;
    }
    
    h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, !important;
      font-size: 7vh;
      text-align: center;
      line-height: 20vh;
    }
    
    h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, !important;
      font-size: 5vh;
      text-align: center;
      line-height: 15vh;
    }

    h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, !important;
      font-size: 3vh;
      text-align: center;
      line-height: 10vh;
    }

    pre
    {
      background-color: var(--navbarhover);
      font-family: 'Times New Roman', Times, serif;
      border-radius: 5px;
      padding: 3vw;
      overflow-x: auto;
      font-size: 1.5vh;
    }
    
    a:link {
      color: var(--accent);
      text-decoration: none;
    }
    
    a:visited {
      color: var(--accent);
      text-decoration: none;
    }
    
    a:hover {
      color: var(--accent);
      text-decoration: underline;
    }
    
    a:active {
      color: var(--bodyfontcolour);
      text-decoration: underline;
    }

    .navbar {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1000;
      overflow: hidden;
      background-color: var(--navbarcolour); /* Fallback color */
      top: 0;
      left: 0;  /* Ensure it starts from very left */
      right: 0; /* Stretch full width */
      margin: 0;
      padding: 0;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a.active {
      background-color: var(--navbaraccent);
      color: white;
    }

    .navbar a:hover {
      background-color: var(--navbarhover);
      color: black;
    }
    
    .navbar .icon {
      display: none;
    }

    .row {
      background-color: var(--background);
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      background-color: var(--background);
      flex: 1 1 50%;
      box-sizing: border-box;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .badge {
      background-color: var(--navbaraccent);
      color: white;
      padding: 4px 8px;
      text-align: center;
      border-radius: 5px;
    }

    hr.divider {
      border: none;
      border-top: 3px solid var(--accent);
      margin: 2rem 0;
    }

    .footer {
      bottom: 0;
      width: 100%;
      margin: auto;
      padding: 3vh;
      text-align: center;
      background: var(--navbarcolour);
      color: white;
      font-size: 2vh;
    }

    .accentbox {
      border: 5vw;
      border-radius: 2.5vw;
      background-color: var(--accent);    
      text-align: center;
    }

    a.accent:link {
      color: var(--background);
      text-decoration: none;
    }
    
    a.accent:visited {
      color: var(--background);
      text-decoration: none;
    }
    
    a.accent:hover {
      color: var(--background);
      text-decoration: underline;
    }
    
    a.accent:active {
      color: var(--background);
      text-decoration: underline;
    }